.honeybee_box{
  position:fixed;
  left:0;
  top:20%;
  z-index: 10;
  .honeybee{
    width:193px;
    height:202px;
    background:url(../images/honeybee.png) no-repeat;
    background-size:cover;
    padding-top:96px;
    text-align:center;
    line-height: 21px;
    color:#fff;
    font-size:16px;
    font-family: 'FZLTCHJW';
    a{
      font-size:14px;
      font-family: 'FZLTHJW';
      color:#fff;
      border-bottom: 1px solid #ccc;
      span{
        font-family: 'FZLTCHJW';
      }
    }
  }
  .qrCode{
    position:absolute;
    left:0;
    top:190px;
    display:none;
    width:190px;
    height:190px;
    img{
      width:100%;
      height:100%;
    }
  }
  &:hover{
    cursor: default;
    .qrCode{
      display:block;
    }
  }
}
.nav{
  width:176px;
  height:411px;
  background:url(../images/nav.png) no-repeat;
  position:fixed;
  right:0;
  top:10%;
  padding:97px 10px 0 15px;
  z-index: 10;
  .navItem{
    width:100%;
    height:45px;
    background:#fff;
    margin-top:8px;
    border-radius:10px;
    overflow: hidden;
    a{
      display: block;
      width:100%;
      height:100%;
      font-size:15px;
      color:#202020;
      font-family: 'FZLTHJW';
      text-align:center;
      line-height: 45px;
      background:url(../images/md_icon.png) no-repeat 9px center;
      background-size:16px 17px;
      padding-left:9px;
    }
  }
  .backtop{
    background:none;
    margin:0;
    a{
      font-size:15.21px;
      color:#fff;
      background:url(../images/top.png) no-repeat 29px center;
      background-size:17px 21px;
      padding-left:29px;
    }
  }
}
.banner{
  width:100%;
  position:relative;
  img{
    width:100%;
  }
  .timeEnd{
    width:1011px;
    height:185px;
    background:url(../images/timeEnd.png) no-repeat;
    position:absolute;
    left:50%;
    bottom:0;
    transform:translate(-50%,0);
    text-align: center;
    line-height: 185px;
    display:none;
    span{
      font-size:52px;
      color:#fff;
      font-family: 'FZLTCHJW';
    }
  }
}
.content_wrapper{
  .hotCourse1{
    width:100%;
    height:1279px;
    background:url(../images/bg_01.png) no-repeat;
    background-size:100% 100%;
    position:relative;
    .course_box{
      width:100%;
      height:100%;
      padding-bottom:142px;
      background:url(../images/bottom.png) no-repeat center 783px,url(../images/time_line.png) no-repeat center 1180px;
      .inner{
        .cw_tit1{
          width:653px;
          height:192px;
          background:url(../images/tit_img_01.png) no-repeat;
          margin:0 auto;
        }
        .cw_suptit{
          display:flex;
          justify-content: center;
          align-items: center;
          .cws_l{
            width:246px;
            height:33px;
            background:url(../images/con_l.png) no-repeat;
          }
          .cws_m{
            font-size:48px;
            color:#313131;
            font-family: 'FZLTCHJW';
          }
          .cws_r{
            width:246px;
            height:33px;
            background:url(../images/con_r.png) no-repeat;
          }
        }
        .cw_group{
          .cwgItem{
            display:none;
            .course_area{
              width: 1145px;
              height: 593px;
              background: url(../images/yiyuan_bg.png) no-repeat;
              box-shadow: 0 0 40px #e72341;
              border-radius: 30px;
              margin:27px auto 0;
              padding-left:62px;
              display:none;
              justify-content: flex-start;
              align-items: center;
              position:relative;
              .ca_l{
                width:540px;
                height:420px;
                background:#fff;
                margin-right:41px;
                padding:4px;
                img{
                  width:100%;
                }
                .prise{
                  margin-top:48px;
                  margin-left:21px;
                  .prise_l{
                    font-size:30px;
                    color:#2e2e2e;
                    font-family: 'FZLTHJW';
                  }
                  .prise_r{
                    font-size:40px;
                    color:#ec464a;
                    font-family: 'FZLTCHJW';
                  }
                }
              }
              .ca_r{
                .car_tit{
                  font-size:44.8px;
                  color:#fff;
                  font-family: 'FZLTCHJW';
                  text-shadow: 0 10px 5px #6730c4;
                }
                .car_kcys{
                  width:138px;
                  height:38px;
                  background:#fff;
                  border-radius:19px;
                  text-align:center;
                  line-height: 38px;
                  font-size:26px;
                  color:#7d50e0;
                  font-family: 'FZLTCHJW';
                  margin-top:10px;
                }
                .car_txt1{
                  font-size:20px;
                  color:#fff;
                  font-family: 'FZLTHJW';
                  letter-spacing: 1px;
                  line-height: 30px;
                  margin-top:10px;
                }
                .car_txt2{
                  font-family: 'FZLTHJW';
                  font-size:14px;
                  color:#dbc1ff;
                  margin-top:12px;
                }
                .car_quan{
                  margin-top:20px;
                  span{
                    display:inline-block;
                    font-size:48px;
                    color:#fff;
                    font-family: 'FZLTCHJW';
                    text-shadow:0 10px 6px #f64655;
                    margin-top:50px;
                  }
                }
                .car_button{
                  display:block;
                  width:303px;
                  height:97px;
                  background:url(../images/button.png) no-repeat;
                  color:#ee060b;
                  font-family: 'FZLTCHJW';
                  font-size:40.32px;
                  text-align:center;
                  line-height: 97px;
                }
                .po_ev{
                  pointer-events: none;
                }
              }
              .zhuangtai{
                width:279px;
                height:160px;
                position:absolute;
                right:0;
                bottom:0;
              }
            }
            .shuangjl{
              background: url(../images/shuangjl.jpg) no-repeat;
            }
            .wks{
              background:url(../images/wks.png) no-repeat;
            }
            .ysq{
              background:url(../images/sellout.png) no-repeat;
            }
          }
        }
      }
    }
    .btn_groups{
      position:absolute;
      width:1405px;
      height:100px;
      left:50%;
      bottom:73px;
      transform: translate(-50%,0);
      padding:0 50px;
      .btngItem{
        width:100%;
        height:100%;
        display:flex;
        justify-content: space-around;
        .times{
          width:107px;
          display:flex;
          flex-direction: column;
          align-items: center;
          .quantime{
            width:127px;
            height:46px;
            border-radius: 23px;
            text-align:center;
            line-height:46px;
            color:#a91422;
            font-size:36px;
            font-family: 'FZLTCHJW';
          }
          .activeT{
            background:#fe454f;
            color:#fff;
          }
          .timeq{
            flex:none;
            width:59px;
            height:59px;
            background:url(../images/time_btn_bg.png) no-repeat;
            cursor: pointer;
          }
          .activeB{
            background:url(../images/active.png) no-repeat;
          }
        }
      }
    }
  }
  .hotCourse2{
    width:100%;
    height:877px;
    background:url(../images/bg_02.png) no-repeat;
    background-size:100% 100%;
    .cw_tit2{
      width:762px;
      height:92px;
      background:url(../images/tit_img_02.png) no-repeat;
      margin:0 auto;
    }
    .hcw_video{
      width:1144px;
      height:663px;
      background:url(../images/video_bg.png) no-repeat;
      margin:45px auto 0;
      box-shadow: 0 0 50px #ec2645;
      border-radius: 20px;
      padding: 22px 20px 20px;
      iframe{
        width:100%;
        height:100%;
      }
    }
  }
  .hotCourse3{
    width:100%;
    height:1526px;
    background:url(../images/bg_03.png) no-repeat;
    background-size:100% 100%;
    .cw_tit2{
      width:616px;
      height:92px;
      background:url(../images/tit_img_03.png) no-repeat;
      margin:0 auto;
    }
    .inner {
      width: 1200px;
      height: auto;
      margin: 0px auto;
      margin-top: 62px;
      background:url(../images/video_bg.png) no-repeat;
      background-size:100% 100%;
      padding: 16px 0px;
      .box {
        width: 1158px;
        height: auto;
        margin: 0px auto;
        border-radius: 12px;
        background-image: linear-gradient(to bottom , #9e63ef, #5c3dd1);
        padding: 36px 0px 20px 0px;
        .toptitle {
          width: 500px;
          height: 80px;
          margin: 0px auto;
          border-radius: 45px;
          border: 2px #ffffff solid;
          text-align: center;
          line-height: 80px;
          font-size:40px;
          color:#fff;
          font-family: 'FZLTCHJW';
        }
        .topcontent {
          width: 1044px;
          height: 450px;
          margin: 0px auto;
          margin-top: 20px;
          padding: 10px 0px 0px 10px;
          background-color: #ffffff;
          border-radius: 8px;
          display: flex;
          //justify-content: space-between;
          justify-content: flex-start;
          align-items: flex-start;
          .leftcontent {
            width: 515px;
            height: auto;
            .textbox {
              width: 100%;
              height: 132px;
              background-color: #ededed;
              padding-top: 22px;
              .tr1 {
                text-align: center;
                font-size:36px;
                color:#242424;
                font-family: 'FZLTCHJW';
              }
              .tr2 {
                width: 452px;
                margin: 0px auto;
                margin-top: 12px;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                .s1 {
                  font-size:40px;
                  color:#e61626;
                  font-family: 'FZLTCHJW';
                }
                .s11 {
                  font-size:20px;
                  color:#242424;
                  font-family: 'FZLTCHJW';
                }
                .s2 {
                  width: 160px;
                  height: 50px;
                  border-radius: 25px;
                  line-height: 50px;
                  background-image: linear-gradient(to bottom , #f4cb00, #fbb900);
                  text-align: center;
                  font-size:27px;
                  color:#161616;
                  font-family: 'FZLTCHJW';

                }
              }
            }
          }
          .rightcontent {
            padding: 29px 0px 0px 60px;
            .luquba {
              width: 340px;
              //margin: 0px auto;
              margin-top: 29px;
              display: flex;
              //justify-content: space-between;
              justify-content: center;
              //align-items: flex-start;
              align-items: center;
              .luquba_item {
                //width: 70px;
                width:100%;
                height: 125px;
                display: flex;
                //flex-direction: column;
                justify-content: space-between;
                align-items: center;
                .top {
                  width: 100%;
                  height: 40px;
                  line-height: 40px;
                  text-align: center;
                  font-size:40px;
                  //color:#905ce9;
                  color:#9c62ee;
                  //font-family: 'FZHZGBJW';
                  font-family: 'FZLTCHJW';
                  em{
                    font-style:normal;
                    font-size:66px;
                    color:#f3b126;
                  }
                }
                .bottom {
                  width: 100%;
                  height: 70px;
                  text-align: center;
                  line-height: 70px;
                  border: 1px #a174ec dashed ; 
                  font-size:40px;
                  color:#242424;
                  font-family: 'FZHZGBJW';
                }
              }
            }
            .buyinginstructions {
              margin-top: 42px;
              padding-right: 28px;
              .tr1 {
                width: 140px;
                height: 40px;
                border-radius: 32px;
                background-color: #905ce9;
                text-align: center;
                line-height: 40px;
                font-size:24px;
                color:#ffffff;
                font-family: 'FZLTCHJW';
              }
              .tr2 {
                margin-top: 20px;
                font-size:22px;
                color:#252525;
                font-family: 'FZLTCHJW';
                line-height: 34px;
                .s1 {
                  display: inline-block;
                  height: 28px;
                  padding: 0px 5px;
                  border-radius: 15px;
                  background-color: #e3d4fc;
                }
                .s2 {
                  font-size:22px;
                  color:#905ce9;
                  font-family: 'FZLTCHJW';
                  display: block;
                  margin-top: 20px;
                }
              }
            }
          }
        }
        .middlecontent {
          width: 1125px;
          margin: 0px auto;
          margin-top: 30px;
          display:flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          .middlecontent_item{
            width: 277px;
            height: auto;
            .middlecontent_img {
              width: 277px;
              height: 158px;
            }
            .tr1 {
              width: 100%;
              height: 52px;
              background-color: #ffffff;
              text-align: center;
              line-height: 52px;
              font-size:22px;
              color:#2e2e2e;
              font-family: 'FZLTCHJW';
            }
            .tr2 {
              width: 100%;
              height: 45px;
              padding: 0px 15px;
              background-color: #ffffff;
              display:flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              .left {

                .s1 {
                  text-decoration: line-through;
                  font-size:16px;
                  color:#2e2e2e;
                  font-family: 'FZLTHJW';
                }
                .s2 {
                  font-size:28px;
                  color:#ef4445;
                  font-family: 'FZLTHJW';
                  
                }
              }
              .right {
                width: 116px;
                height: 34px;
                border-radius: 15px;
                line-height: 34px;
                background-image: linear-gradient(to bottom, #f4cb00, #fbb900);
                text-align: center;
                font-size: 19px;
                color: #161616;
                font-family: 'FZLTCHJW';
              }
            }
          }
        }
        .middletitle {
          width: 500px;
          height: 80px;
          margin: 0px auto;
          margin-top: 60px;
          border-radius: 45px;
          border: 2px #ffffff solid;
          text-align: center;
          line-height: 80px;
          font-size: 40px;
          color: #fff;
          font-family: 'FZLTCHJW';
        }
      }
    }
  }
  .hotCourse4{
    width:100%;
    height:936px;
    background:url(../images/bg_04.png) no-repeat;
    background-size:100% 100%;
    .cw_tit4{
      width:622px;
      height:93px;
      background:url(../images/tit_img_04.png) no-repeat;
      margin:0 auto;
    }
  }
  .hotCourse5{
    width:100%;
    //height:2427px;
    background:url(../images/bg_05.png) no-repeat;
    background-size:100% 100%;
    padding-bottom: 30px;
    .cw_tit5{
      width:689px;
      height:93px;
      background:url(../images/tit_img_05.png) no-repeat;
      margin:0 auto;
    }
    .xy_con{
      width:100%;
      height:1982px;
      background:url(../images/xy_bg.png) no-repeat;
      border-radius: 20px;
      box-shadow: 0 0 20px #ec2645;
      margin-top:43px;
      padding:18px 21px 23px;
      .xyc_tit{
        width:415px;
        height:77px;
        border-radius:37.5px;
        border:4px solid #fff;
        text-align:center;
        line-height: 77px;
        margin:20px auto 0;
        font-family: 'FZLTCHJW';
        font-size:40px;
        color:#fff;
        display:flex;
        justify-content: center;
        align-items: center;
        img{
          margin-left:17px;
        }
      }
      .xyc_group{
        margin-bottom:23px;
        .xyc_name{
          display:flex;
          justify-content: space-between;
          align-items: center;
          margin:13px 23px 0;
          .xycn_l{
            font-family: 'FZLTCHJW';
            font-size:30px;
            color:#fff;
            background:url(../images/star.png) no-repeat left center;
            background-size:24px 24px;
            padding-left:30px;
            .span_yelo{
              color:#ffea00;
              em{
                font-size:32px;
              }
            }
          }
          .xycn_r{
            font-family: 'FZLTHJW';
            font-size:20px;
            color:#fff;
            border-bottom:1px solid #fff;
          }
        }
        .xyc_courses{
          margin:0 17px;
          display:flex;
          justify-content: space-between;
          align-items: center;
          .xyccItem{
            flex:none;
            width:271px;
            background:#fff;
            box-shadow: 0 0 20px #b9161d;
            padding:1px 1px 12px;
            border-radius: 5px;
            overflow: hidden;
            margin-top:18px;
            img{
              width:100%;
            }
            .cou_name{
              font-size:22px;
              font-family: 'FZLTCHJW';
              color:#2e2e2e;
              text-align:center;
              margin-top:20px;
            }
            .xyc_prise{
              widows: 100%;
              height:34px;
              line-height: 34px;
              padding:0 7px;
              margin-top:17px;
              display:flex;
              justify-content: space-between;
              align-items: center;
              .xycp_l{
                font-size:24px;
                color:#ef4445;
              }
              .xycp_r{
                width:113px;
                height:34px;
                text-align:center;
                line-height: 34px;
                background:#f5c400;
                border-radius:17px;
                font-size:18px;
                color:#161616;
              }
            }
          }
        }
      }
    }
    .fadetop{
      width:100%;
      height:185px;
      background:#ffd751;
      border:6px solid #653d00;
      border-radius:20px;
      margin-top:68px;
      overflow: hidden;
      .fadeItem{
        width:100%;
        height:100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left:28px;
        .fademsg{
          height:57px;
          line-height: 57px;
          font-size:26.79px;
          color:#1d1d1d;
          font-family: 'FZLTCHJW';
          background:url(../images/tx_icon.png) no-repeat left center;
          background-size:56px 57px;
          padding-left:73px;
        }
        p{
          margin-top:10px;
          font-size:24px;
          color:#1d1d1d;
          font-family: 'FZLTHJW';
          padding-left:73px;
          span{
            color:#f53443;
          }
        }
      }
    }
  }
  .hotCourse6{
    width:100%;
    height:1004px;
    background:url(../images/bg_06.png) no-repeat;
    background-size:100% 100%;
    .cw_tit6{
      width:564px;
      height:92px;
      background:url(../images/tit_img_06.png) no-repeat;
      margin:0 auto;
    }
    .cjCon{
      width:100%;
      height:751px;
      background:url(../images/chouj_bg.png) no-repeat;
      margin-top:32px;
      padding:54px 0 44px 61px;
      display:flex;
      justify-content: flex-start;
      align-items: center;
      .cjTxt{
        width:308px;
        height:575px;
        padding:15px 14px 0 30px;
        .cj_tit{
          width:193px;
          height:50px;
          background:#ffda51;
          border:4px solid #653d00;
          border-radius:25px;
          text-align: center;
          line-height: 50px;
          margin:0 auto 20px;
          color:#f24900;
          font-size:30px;
          font-family: 'FZLTCHJW';
        }
        .cj_suptit{
          width:106px;
          height:30px;
          background:url(../images/jp_bg.png) no-repeat;
          text-align:center;
          line-height:30px;
          font-size:20px;
          color:#fff;
          font-family: 'FZLTCHJW';
          margin-bottom:9px;
        }
        .actime{
          font-size:20px;
          color:#fff;
          font-family: 'FZLTCHJW';
          margin-bottom:20px;
        }
        .actxt{
          font-size:18px;
          color:#fff;
          font-family: 'FZLTHJW';
          line-height: 30px;
        }
      }
    }
    .backToTop{
      display: block;
      width:411px;
      height:74px;
      background:url(../images/backtotop.png) no-repeat;
      color:#fff;
      font-size:38px;
      font-family: 'FZLTCHJW';
      text-align: center;
      line-height: 74px;
      margin:32px auto 0;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      img{
        margin-left:11px;
      }
    }
  }
}

.wprize{
  display:none;
  position:fixed;
  left:0;
  top:0;
  right:0;
  bottom:0;
  z-index: 20;
  .wprize_mask{
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.3);
  }
  .wprize_box{
    width:933px;
    height:631px;
    background:url(../images/zjtc.png) no-repeat;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .wb_tit{
      font-size:52px;
      color:#69440e;
      font-family: 'FZLTCHJW';
    }
    .wbImg_box{
      width:537px;
      height:346px;
      display:flex;
      justify-content: center;
      align-items: center;
    }
    .lqBtn{
      width:380px;
      height:75px;
      text-align:center;
      line-height: 75px;
      font-size:33.33px;
      color:#69440e;
      font-family: 'FZLTCHJW';
      background:url(../images/lqBtn_bg.png) no-repeat;
      margin-top:21px;
    }
    .closeBtn{
      width:73px;
      height:73px;
      background:url(../images/close.png) no-repeat center center;
      position:absolute;
      right: 2px;
      top: 16px;
      cursor: pointer;
    }
  }
  .messageList{
    li{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom:17px;
      .detai{
        color:#502f0e;
        font-family: 'FZLTCHJW';
        font-size:30px;
        margin-top:20px;
      }
      .mlName{
        width:110px;
        text-align: right;
        color:#502f0e;
        font-family: 'FZLTCHJW';
        font-size:26px;
        margin-right:17px;
      }
      .mlinput{
        width:415px;
        height:65px;
        border-radius:10px;
        background:#fff;
        padding-left: 10px;
        font-size: 16px;
        color: #515151;
      }
      .yzint{
        width:233px;
        height:65px;
        border-radius:10px;
        background:#fff;
        margin-right:15px;
        padding-left: 10px;
        font-size: 16px;
        color: #515151;
      }
      .yzcode1{
        display: inline-block;
        width: 165px;
        height: 63px;
        text-align: center;
        line-height: 63px;
        background: #fff99c;
        border-radius: 5px;
        font-size:26px;
        color:#502f0e;
        font-family: 'FZLTHJW';
      }
      .hqyzm1{
        background: #fff;
        border-radius: 10px;
        box-sizing: border-box;
        width: 165px;
        height: 63px;
        text-align: center;
        line-height: 63px;
        color: #63adfb;
        font-size: 26px;
      }
    }
  }
}







.fixedBotPos{
  width:100%;
  height:102px;
  transition:5s all ease;
}
.fixedBot{
  width: 100%;
  height: 102px;
  background: #1e1e1f;
  position: fixed;
  bottom: 0;
  padding-top: 12px;
  img{
    display:block;
    width:445px;
    height:30px;
    margin:0 auto;
  }
  .formList{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:10px;
    .formItem{
      span{
        font-size:16px;
        color:#fff;
        font-family: 'FZLTCHJW';
        margin-right:13px;
        margin-left:25px;
      }
      input{
        width:140px;
        height:35px;
        border-radius:10px;
        padding-left:10px;
        font-size:16px;
        color:#515151;
      }
      select{
        width:140px;
        height:35px;
        border-radius:10px;
        padding-left:10px;
        font-size:16px;
        color:#515151;
      }
      ::placeholder{
        font-size:20px;
        color:#aeaeae;
      }
      .yzcode{
        display: inline-block;
        width:102px;
        height:38px;
        text-align: center;
        line-height: 38px;
        background:#f8c4a0;
        border-radius:5px;
        margin-left:9px;
      }
      span.hqyzm{
        background: #fff;
        border-radius: 10px;
        box-sizing: border-box;
        width: 102px;
        height: 38px;
        text-align: center;
        line-height: 38px;
        color: #63adfb;
        font-size: 20px;
        margin-left: 9px;
      }
      .subBtns{
        display:flex;
        justify-content: center;
        .subBtn{
          width: 134px;
          height: 38px;
          display: block;
          background: #fed228;
          border-radius: 25px;
          text-align: center;
          line-height: 38px;
          font-size: 18px;
          color: #1b1b1b;
          font-family: 'FZLTCHJW';
          margin: 0 15px;
        }
      }
    }
  }
  
}





.eConItem{
  .middlecontent {
    width: 1125px;
    margin: 0px auto;
    margin-top: 12px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .middlecontent_item{
      width: 273px;
      height: auto;
      .middlecontent_img {
        width: 100%;
      }
      .tr1 {
        width: 100%;
        height: 52px;
        background-color: #ffffff;
        text-align: center;
        line-height: 52px;
        font-size:22px;
        color:#2e2e2e;
        font-family: 'FZLTCHJW';
      }
      .tr2 {
        width: 100%;
        height: 45px;
        padding: 0px 10px;
        background-color: #ffffff;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .left {

          .s1 {
            text-decoration: line-through;
            font-size:14px;
            color:#2e2e2e;
            font-family: 'FZLTHJW';
          }
          .s2 {
            font-size:26px;
            color:#ef4445;
            font-family: 'FZLTHJW';
            
          }
        }
        .right {
          width: 100px;
          height: 34px;
          border-radius: 15px;
          line-height: 34px;
          background-image: linear-gradient(to bottom, #f4cb00, #fbb900);
          text-align: center;
          font-size: 19px;
          color: #161616;
          font-family: 'FZLTCHJW';
        }
      }
    }
  }
  .more{
    width:360px;
    height:52px;
    text-align:center;
    line-height:52px;
    background:#fe454f;
    border-radius:20px;
    display:block;
    margin:11px auto 0;
    font-family: 'FZLTTHJW';
    font-size:24px;
    color:#fff;
  }
}
