body{
  background:#f3f8fe;
}
.banner{
  width:100%;
  position:relative;
  img{
    width:100%;
  }
  .timeEnd{
    width:6.98rem;
    height:1.36rem;
    background:url(../images/timeEnd.png) no-repeat;
    background-size:100% 100%;
    position:absolute;
    left:50%;
    bottom:0;
    transform:translate(-50%,0);
    text-align: center;
    line-height: 1.36rem;
    display:none;
    span{
      font-size:.35rem;
      color:#fff;
      font-family: 'FZLTCHJW';
    }
  }
}
.content_wrapper{
  .hotCourse1{
    width:100%;
    height:7.05rem;
    background:url(../images/bg_01.png) no-repeat;
    background-size:100% 100%;
    position:relative;
    .course_box{
      width:100%;
      height:100%;
      //padding-bottom:142rem;
      background:url(../images/bottom.png) no-repeat center 783rem;
      background-size:100% 100%;
      .inner{
        .cw_tit1{
          width:6.53rem;
          height:1.92rem;
          background:url(../images/tit_img_01.png) no-repeat;
          background-size:100% 100%;
          margin:0 auto;
        }
        .cw_suptit{
          display:flex;
          justify-content: center;
          align-items: center;
          .cws_l{
            width:1.43rem;
            height:.19rem;
            background:url(../images/con_l.png) no-repeat;
            background-size:100% 100%;
          }
          .cws_m{
            font-size:.27rem;
            color:#313131;
            font-family: 'FZLTCHJW';
          }
          .cws_r{
            width:1.43rem;
            height:.19rem;
            background:url(../images/con_r.png) no-repeat;
            background-size:100% 100%;
          }
        }
        .cw_group{
          .cwgItem{
            display:none;
            .course_area{
              width: 6.77rem;
              height: 3.5rem;
              background: url(../images/yiyuan_bg.png) no-repeat;
              background-size:100% 100%;
              box-shadow: 0 0 .0rem #e72341;
              border-radius: .3rem;
              margin:.27rem auto 0;
              padding-left:.21rem;
              display:none;
              justify-content: flex-start;
              align-items: center;
              position:relative;
              .ca_l{
                flex:none;
                width:3.15rem;
                height:2.45rem;
                background:#fff;
                margin-right:.21rem;
                padding:.01rem;
                img{
                  width:100%;
                }
                .prise{
                  margin-top:.27rem;
                  margin-left:.11rem;
                  .prise_l{
                    font-size:.18rem;
                    color:#2e2e2e;
                    font-family: 'FZLTHJW';
                  }
                  .prise_r{
                    font-size:.24rem;
                    color:#ec464a;
                    font-family: 'FZLTCHJW';
                  }
                }
              }
              .ca_r{
                .car_tit{
                  font-size:.26rem;
                  color:#fff;
                  font-family: 'FZLTCHJW';
                  text-shadow: 0 .10rem .05rem #6730c4;
                }
                .car_kcys{
                  width:.83rem;
                  height:.23rem;
                  background:#fff;
                  border-radius:.1rem;
                  text-align:center;
                  line-height: .23rem;
                  font-size:.15rem;
                  color:#7d50e0;
                  font-family: 'FZLTCHJW';
                  margin-top:.05rem;
                }
                .car_txt1{
                  font-size:.12rem;
                  color:#fff;
                  font-family: 'FZLTHJW';
                  letter-spacing: .01rem;
                  line-height: .18rem;
                  margin-top:.05rem;
                }
                .car_txt2{
                  font-family: 'FZLTHJW';
                  font-size:.14rem;
                  color:#dbc1ff;
                  margin-top:.1rem;
                  line-height: .18rem;
                  padding-right:.5rem;
                }
                .car_quan{
                  margin-top:.06rem;
                  span{
                    display:inline-block;
                    font-size:.25rem;
                    color:#fff;
                    font-family: 'FZLTCHJW';
                    text-shadow:0 .10rem .06rem #f64655;
                    margin-top:.3rem;
                  }
                  img{
                    width:.94rem;
                    height:.76rem;
                  }
                }
                .car_button{
                  display:block;
                  width:1.85rem;
                  height:.57rem;
                  background:url(../images/button.png) no-repeat;
                  background-size: 100% 100%;
                  color:#ee060b;
                  font-family: 'FZLTCHJW';
                  font-size:.23rem;
                  text-align:center;
                  line-height: .57rem;
                }
                .po_ev{
                  pointer-events: none;
                }
              }
              .zhuangtai{
                width:1.61rem;
                height:.93rem;
                position:absolute;
                right:0;
                bottom:0;
              }
            }
            .shuangjl{
              background: url(../images/shuangjl.jpg) no-repeat;
              background-size: 100% 100%;
            }
            .wks{
              background:url(../images/wks.png) no-repeat;
              background-size: 100% 100%;
            }
            .ysq{
              background:url(../images/sellout.png) no-repeat;
              background-size: 100% 100%;
            }
          }
        }
      }
    }
    .btn_groups{
      position:absolute;
      width:100%;
      height:.5rem;
      left:50%;
      bottom:.56rem;
      transform: translate(-50%,0);
      padding:0 .50rem;
      .btngItem{
        width:100%;
        height:100%;
        display:flex;
        justify-content: space-around;
        .times{
          width:1.07rem;
          height:1rem;
          display:flex;
          flex-direction: column;
          align-items: center;
          .quantime{
            width:.74rem;
            height:.27rem;
            border-radius: .135rem;
            text-align:center;
            line-height:.27rem;
            color:#a91422;
            font-size:.20rem;
            font-family: 'FZLTCHJW';
          }
          .activeT{
            background:#fe454f;
            color:#fff;
          }
          .timeq{
            flex:none;
            width:.47rem;
            height:.47rem;
            background:url(../images/time_btn_bg.png) no-repeat;
            background-size:100% 100%;
            cursor: pointer;
          }
          .activeB{
            background:url(../images/active.png) no-repeat;
            background-size:100% 100%;
            
          }
        }
      }
    }
  }
  .hotCourse2{
    width:100%;
    height:5.09rem;
    background:url(../images/bg_02.png) no-repeat;
    background-size:100% 100%;
    .cw_tit2{
      width:5.21rem;
      height:.67rem;
      background:url(../images/tit_img_02.png) no-repeat;
      background-size:100% 100%;
      margin:0 auto;
    }
    .hcw_video{
      width:6.85rem;
      height:3.94rem;
      background:url(../images/video_bg.png) no-repeat;
      background-size:100% 100%;
      margin:.23rem auto 0;
      box-shadow: 0 0 10px #ec2645;
      border-radius: .20rem;
      padding: .25rem .1rem .2rem;
      overflow: hidden;
      .ifrname{
        width:100%;
        height:100%;
        visibility: hidden;
        margin-bottom:1rem;
      }
      .playVideo{
        visibility: visible;
      }
    }
  }
  .hotCourse3{
    width:100%;
    height:17.06rem;
    background:url(../images/bg_03.png) no-repeat;
    background-size:100% 100%;
    .cw_tit2{
      width:4.63rem;
      height:.65rem;
      background:url(../images/tit_img_03.png) no-repeat;
      background-size:100% 100%;
      margin:0 auto;
    }
    .inner {
      /* width: 100%;
      height: auto;
      margin: 0rem auto;
      margin-top: .26rem;
      background:url(../images/video_bg.png) no-repeat;
      background-size:100% 100%;
      padding: .16rem 0rem; */
      margin-top:.27rem;
      .box {
        width: 6.83rem;
        height: 15.67rem;
        margin: 0rem auto;
        border-radius: .12rem;
        background:url(../images/rq_bg.png) no-repeat;
        background-size:100% 100%;
        padding: .36rem .12rem .20rem;
        .toptitle {
          width: 3.34rem;
          height: .5rem;
          margin: 0rem auto;
          border-radius: .25rem;
          border: .02rem #ffffff solid;
          text-align: center;
          line-height: .5rem;
          font-size:.26rem;
          color:#fff;
          font-family: 'FZLTCHJW';
        }
        .topcontent {
          width: 5.95rem;
          height: 2.62rem;
          margin: 0rem auto;
          margin-top: .20rem;
          padding: .10rem 0rem 0rem .10rem;
          background-color: #ffffff;
          border-radius: .08rem;
          display: flex;
          //justify-content: space-between;
          justify-content: flex-start;
          align-items: flex-start;
          .leftcontent {
            flex:none;
            width: 2.93rem;
            height: auto;
            .textbox {
              width: 100%;
              height: .73rem;
              background-color: #ededed;
              padding-top: .11rem;
              .tr1 {
                text-align: center;
                font-size:.18rem;
                color:#242424;
                font-family: 'FZLTCHJW';
              }
              .tr2 {
                width: 100%;
                margin: 0rem auto;
                margin-top: .09rem;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                padding: 0 .13rem;
                .s1 {
                  font-size:.22rem;
                  color:#e61626;
                  font-family: 'FZLTCHJW';
                }
                .s11 {
                  font-size:.11rem;
                  color:#242424;
                  font-family: 'FZLTCHJW';
                }
                .s2 {
                  width: .89rem;
                  height: .27rem;
                  border-radius: .135rem;
                  line-height: .27rem;
                  background-image: linear-gradient(to bottom , #f4cb00, #fbb900);
                  text-align: center;
                  font-size:.15rem;
                  color:#161616;
                  font-family: 'FZLTCHJW';

                }
              }
            }
          }
          .rightcontent {
            padding: .15rem 0rem 0rem .15rem;
            flex: 1;
            .luquba {
              //margin: 0rem auto;
              display: flex;
              //justify-content: space-between;
              justify-content: center;
              //align-items: flex-start;
              align-items: center;
              .luquba_item {
                //width: .70rem;
                width:100%;
                height: 0.65rem;
                display: flex;
                //flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                .top {
                  width: 100%;
                  height: .40rem;
                  line-height: .40rem;
                  text-align: left;
                  font-size:.25rem;
                  //color:#905ce9;
                  color:#9c62ee;
                  //font-family: 'FZHZGBJW';
                  font-family: 'FZLTCHJW';
                  em{
                    font-style:normal;
                    font-size:.38rem;
                    color:#f3b126;
                  }
                }
                .bottom {
                  width: 100%;
                  height: .70rem;
                  text-align: center;
                  line-height: .70rem;
                  border: 1px #a174ec dashed ; 
                  font-size:.40rem;
                  color:#242424;
                  font-family: 'FZHZGBJW';
                }
              }
            }
            .buyinginstructions {
              margin-top: .21rem;
              padding-right: .28rem;
              .tr1 {
                width: 1.40rem;
                height: .40rem;
                border-radius: .32rem;
                background-color: #905ce9;
                text-align: center;
                line-height: .40rem;
                font-size:.24rem;
                color:#ffffff;
                font-family: 'FZLTCHJW';
              }
              .tr2 {
                margin-top: .10rem;
                font-size:.22rem;
                color:#252525;
                font-family: 'FZLTCHJW';
                line-height: .34rem;
                .s1 {
                  display: inline-block;
                  height: .28rem;
                  padding: 0rem .05rem;
                  border-radius: .15rem;
                  background-color: #e3d4fc;
                }
                .s2 {
                  font-size:.22rem;
                  color:#905ce9;
                  font-family: 'FZLTCHJW';
                  display: block;
                  margin-top: .20rem;
                }
              }
            }
          }
        }
        .middlecontent {
          width: 100%;
          margin: 0rem auto;
          margin-top: .30rem;
          display:flex;
          flex-wrap: wrap;
          justify-content: space-around;
          align-items: center;
          .middlecontent_item{
            width: 3.16rem;
            height: auto;
            margin-bottom:.18rem;
            .middlecontent_img {
              width: 100%;
              height: 1.58rem;
            }
            .tr1 {
              width: 100%;
              height: .52rem;
              background-color: #ffffff;
              text-align: center;
              line-height: .52rem;
              font-size:.22rem;
              color:#2e2e2e;
              font-family: 'FZLTCHJW';
            }
            .tr2 {
              width: 100%;
              height: .45rem;
              padding: 0rem .15rem;
              background-color: #ffffff;
              display:flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              .left {

                .s1 {
                  text-decoration: line-through;
                  font-size:.16rem;
                  color:#2e2e2e;
                  font-family: 'FZLTHJW';
                }
                .s2 {
                  font-size:.28rem;
                  color:#ef4445;
                  font-family: 'FZLTHJW';
                  
                }
              }
              .right {
                width: 1.16rem;
                height: .34rem;
                border-radius: .15rem;
                line-height: .34rem;
                background-image: linear-gradient(to bottom, #f4cb00, #fbb900);
                text-align: center;
                font-size: .19rem;
                color: #161616;
                font-family: 'FZLTCHJW';
              }
            }
          }
        }
        .middletitle {
          width: 3.34rem;
          height: 0.5rem;
          margin: 0rem auto;
          border-radius: 0.25rem;
          border: 0.02rem #ffffff solid;
          text-align: center;
          line-height: 0.5rem;
          font-size: 0.26rem;
          color: #fff;
          font-family: 'FZLTCHJW';
        }
      }
    }
  }
  .hotCourse4{
    width:100%;
    //height:15.61rem;
    background:url(../images/bg_04.png) no-repeat;
    background-size:100% 100%;
    padding-bottom: 0.5rem;
    .cw_tit4{
      width:4.41rem;
      height:.67rem;
      background:url(../images/tit_img_04.png) no-repeat;
      background-size:100% 100%;
      margin:0 auto;
    }
  }
  .hotCourse5{
    width:100%;
    //height:39.78rem;
    background:url(../images/bg_05.png) no-repeat;
    background-size:100% 100%;
    padding-bottom: .2rem;
    .cw_tit5{
      width:4.78rem;
      height:.67rem;
      background:url(../images/tit_img_05.png) no-repeat;
      background-size:100% 100%;
      margin:0 auto;
    }
    .xy_con{
      width:100%;
      //height:19.82rem;
      background:url(../images/xy_bg.png) no-repeat;
      background-size:100% 100%;
      border-radius: .20rem;
      box-shadow: 0 0 .20rem #ec2645;
      margin-top:.43rem;
      padding:.09rem .10rem .12rem;
      .xyc_tit{
        width:2.67rem;
        height:.5rem;
        border-radius:.25rem;
        border: 4px solid #fff;
        text-align:center;
        line-height: .5rem;
        margin:.20rem auto 0;
        font-family: 'FZLTCHJW';
        font-size:.23rem;
        color:#fff;
        display:flex;
        justify-content: center;
        align-items: center;
        img{
          margin-left:.17rem;
          width: .15rem;
          height: .21rem;
        }
      }
      .xyc_group{
        margin-bottom:.23rem;
        .xyc_name{
          display:flex;
          justify-content: space-between;
          align-items: center;
          margin:.13rem .15rem 0;
          .xycn_l{
            font-family: 'FZLTCHJW';
            font-size:.22rem;
            color:#fff;
            background:url(../images/star.png) no-repeat left center;
            background-size:.24rem .24rem;
            padding-left:.30rem;
            .span_yelo{
              color:#ffea00;
              em{
                font-size:.32rem;
              }
            }
          }
          .xycn_r{
            font-family: 'FZLTHJW';
            font-size:.20rem;
            color:#fff;
            border-bottom:1px solid #fff;
          }
        }
        .xyc_courses{
          margin:0 .17rem;
          display:flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          .xyccItem{
            flex:none;
            width:3.06rem;
            background:#fff;
            box-shadow: 0 0 .20rem #b9161d;
            padding:.01rem .01rem .12rem;
            border-radius: .05rem;
            overflow: hidden;
            margin-top:.18rem;
            img{
              width:100%;
            }
            .cou_name{
              font-size:.22rem;
              font-family: 'FZLTCHJW';
              color:#2e2e2e;
              text-align:center;
              margin-top:.20rem;
            }
            .xyc_prise{
              widows: 100%;
              height:.34rem;
              line-height: .34rem;
              padding:0 .07rem;
              margin-top:.17rem;
              display:flex;
              justify-content: space-between;
              align-items: center;
              .xycp_l{
                font-size:.24rem;
                color:#ef4445;
              }
              .xycp_r{
                width:1.13rem;
                height:.34rem;
                text-align:center;
                line-height: .34rem;
                background:#f5c400;
                border-radius:.17rem;
                font-size:.18rem;
                color:#161616;
              }
            }
          }
        }
      }
    }
    .fadetop{
      width:100%;
      height:1.85rem;
      background:#ffd751;
      border:6px solid #653d00;
      border-radius:.20rem;
      margin-top:.68rem;
      overflow: hidden;
      .fadeItem{
        width:100%;
        height:100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left:.28rem;
        .fademsg{
          height:.57rem;
          line-height: .57rem;
          font-size:.27rem;
          color:#1d1d1d;
          font-family: 'FZLTCHJW';
          background:url(../images/tx_icon.png) no-repeat left center;
          background-size:.56rem .57rem;
          padding-left:.73rem;
        }
        p{
          margin-top:.10rem;
          font-size:.24rem;
          color:#1d1d1d;
          font-family: 'FZLTHJW';
          padding-left:.73rem;
          span{
            color:#f53443;
          }
        }
      }
    }
  }
  .hotCourse6{
    width:100%;
    height:12.2rem;
    background:url(../images/bg_06.png) no-repeat;
    background-size:100% 100%;
    .cw_tit6{
      width:4.35rem;
      height:.74rem;
      background:url(../images/tit_img_06.png) no-repeat;
      background-size:100% 100%;
      margin:0 auto;
    }
    .cjCon{
      width:100%;
      //height:7.51rem;
      background:url(../images/chouj_bg.png) no-repeat;
      background-size:100% 100%;
      margin-top:.32rem;
      padding: .66rem .23rem .23rem;
      .cjBorder{
        border:4px solid #643d00;
        display:flex;
        flex-direction: column;
        border-radius: 0.2rem;
        padding-bottom: .2rem;
        .cjTxt{
          padding:.15rem .14rem 0 .30rem;
          margin-top:-0.4rem;
          .cj_tit{
            width:1.93rem;
            height:.50rem;
            background:#ffda51;
            border:4px solid #653d00;
            border-radius:.1rem;
            text-align: center;
            line-height: .50rem;
            margin:0 auto .20rem;
            color:#f24900;
            font-size:.30rem;
            font-family: 'FZLTCHJW';
          }
          .cj_suptit{
            width:1.06rem;
            height:.30rem;
            background:url(../images/jp_bg.png) no-repeat;
            background-size:100% 100%;
            text-align:center;
            line-height:.30rem;
            font-size:.20rem;
            color:#fff;
            font-family: 'FZLTCHJW';
            margin-bottom:.09rem;
          }
          .actime{
            font-size:.20rem;
            color:#fff;
            font-family: 'FZLTCHJW';
            margin-bottom:.20rem;
          }
          .actxt{
            font-size:.18rem;
            color:#fff;
            font-family: 'FZLTHJW';
            line-height: .30rem;
          }
        }
      }
    }
    .backToTop{
      display: block;
      width:4.11rem;
      height:.74rem;
      background:url(../images/backtotop.png) no-repeat;
      background-size:100% 100%;
      color:#fff;
      font-size:.38rem;
      font-family: 'FZLTCHJW';
      text-align: center;
      line-height: .74rem;
      margin: 0.12rem auto 0;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      img{
        margin-left:.11rem;
      }
    }
  }
}

.wprize{
  display:none;
  position:fixed;
  left:0;
  top:0;
  right:0;
  bottom:0;
  z-index: 20;
  .wprize_mask{
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.3);
  }
  .wprize_box{
    width:6.5rem;
    height:4.5rem;
    background:url(../images/zjtc.png) no-repeat;
    background-size:100% 100%;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .wb_tit{
      font-size:.36rem;
      color:#69440e;
      font-family: 'FZLTCHJW';
    }
    .wbImg_box{
      width: 3.37rem;
      img{
        width:100%;
      }
    }
    .lqBtn{
      width:3.80rem;
      height:.75rem;
      text-align:center;
      line-height: .75rem;
      font-size:.33rem;
      color:#69440e;
      font-family: 'FZLTCHJW';
      background:url(../images/lqBtn_bg.png) no-repeat;
      background-size:100% 100%;
    }
    .closeBtn{
      width:.56rem;
      height:.56rem;
      background:url(../images/close.png) no-repeat center center;
      background-size:100% 100%;
      position:absolute;
      right: .02rem;
      top: .16rem;
      cursor: pointer;
    }
  }
  .messageList{
    li{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom:.07rem;
      .detai{
        color:#502f0e;
        font-family: 'FZLTCHJW';
        font-size:.30rem;
        margin-top:.20rem;
      }
      .mlName{
        width:1.10rem;
        text-align: right;
        color:#502f0e;
        font-family: 'FZLTCHJW';
        font-size:.26rem;
        margin-right:.17rem;
      }
      .mlinput{
        width:4.15rem;
        height:.35rem;
        border-radius:.10rem;
        background:#fff;
        padding-left: .10rem;
        font-size: .16rem;
        color: #515151;
      }
      .yzint{
        width:2.33rem;
        height:.35rem;
        border-radius:.10rem;
        background:#fff;
        margin-right:.15rem;
        padding-left: .10rem;
        font-size: .16rem;
        color: #515151;
      }
      .yzcode1{
        display: inline-block;
        width: 1.65rem;
        height: .35rem;
        text-align: center;
        line-height: .35rem;
        background: #fff99c;
        border-radius: .05rem;
        font-size:.23rem;
        color:#502f0e;
        font-family: 'FZLTHJW';
      }
      .hqyzm1{
        background: #fff;
        border-radius: .10rem;
        box-sizing: border-box;
        width: 1.65rem;
        height: .63rem;
        text-align: center;
        line-height: .63rem;
        color: #63adfb;
        font-size: 26px;
      }
    }
  }
}


.eConItem{
  .middlecontent {
    width: 100%;
    margin: 0rem auto;
    margin-top: .12rem;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding:0 .08rem;
    .middlecontent_item{
      flex:none;
      width: 3.09rem;
      margin-bottom:.18rem;
      height: auto;
      .middlecontent_img {
        width: 100%;
      }
      .tr1 {
        width: 100%;
        height: .52rem;
        background-color: #ffffff;
        text-align: center;
        line-height: .52rem;
        font-size:.22rem;
        color:#2e2e2e;
        font-family: 'FZLTCHJW';
      }
      .tr2 {
        width: 100%;
        height: .45rem;
        padding: 0rem .10rem;
        background-color: #ffffff;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .left {

          .s1 {
            text-decoration: line-through;
            font-size:.14rem;
            color:#2e2e2e;
            font-family: 'FZLTHJW';
          }
          .s2 {
            font-size:.26rem;
            color:#ef4445;
            font-family: 'FZLTHJW';
            
          }
        }
        .right {
          width: 1.00rem;
          height: .34rem;
          border-radius: .15rem;
          line-height: .34rem;
          background-image: linear-gradient(to bottom, #f4cb00, #fbb900);
          text-align: center;
          font-size: .19rem;
          color: #161616;
          font-family: 'FZLTCHJW';
        }
      }
    }
  }
  .more{
    display:block;
    width:3.26rem;
    height:.47rem;
    text-align:center;
    line-height:.47rem;
    background:#fe454f;
    border-radius:.20rem;
    display:block;
    margin:.11rem auto 0;
    font-family: 'FZLTTHJW';
    font-size:.24rem;
    color:#fff;
  }
}


