.course_content_table{
  width:100%;
  /* height:14.18rem; */
  background:url(../images/xk_bg.png) no-repeat;
  padding:.20rem;
  box-shadow: 0 0 .20rem #ec2645;
  border-radius:.20rem;
}
.eConItem{
  border-radius:.20rem;
  background:#f43042;
  width: 100%;
  height: 100%;
  padding-top:.20rem;
  overflow: hidden;
}
.eConItem .eciTabsBtn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 .1rem;
}
.eConItem .eciTabsBtn .eciBtnItem {
  width: 2.23rem;
  height: .56rem;
  text-align: center;
  line-height: .56rem;
  font-size: .24rem;
  color: #fff;
  font-family: 'FZLTCHJW';
  border-radius: .10rem;
  cursor: pointer;
  background:#fc807b;
  border-radius: .10rem;
  margin:0 .02rem;
}
.eConItem .eciTabsBtn .active {
  background: url(../images/current.png) no-repeat;
  background-size: 100% 100%;
}
.eConItem .eciTabsCon {
  padding-bottom:.10rem;
  border-radius: .10rem;
}



.eConItem .eciTabsCon .eciConItem {
  display: none;
}
.eConItem .eciTabsCon .eciConItem .eciBtnGroup {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-top: .32rem;
}
.eConItem .eciTabsCon .eciConItem .eciBtnGroup .eciBGItem {
  flex: none;
  width: 1.98rem;
  height: .45rem;
  line-height: .45rem;
  background: #fd5f00;
  font-size: .20rem;
  color: #fff;
  font-weight: bold;
  text-align: center;
  border-radius: .60rem;
  margin-left: .12rem;
  margin-bottom: .10rem;
  cursor: pointer;
}
.eConItem .eciTabsCon .eciConItem .eciBtnGroup .active {
  background: #fff;
  color: #4764f0;
  box-shadow: .01rem .02rem .05rem #aaa;
}
.eConItem .eciTabsCon .eciConItem .eciHead {
  display: flex;
  justify-content: space-between;
  border-bottom: .02rem solid #676767;
  padding: .10rem .12rem .05rem;
}
.eConItem .eciTabsCon .eciConItem .eciHead .eciheadItem {
  font-family: 'FZLTCHJW';
  font-size: .20rem;
  color: #333;
  text-align: center;
}
.eConItem .eciTabsCon .eciConItem .eciHead .eciheadItem1 {
  flex: none;
  width: 1rem;
  text-align: left;
  margin-left: .22rem;
}
.eConItem .eciTabsCon .eciConItem .eciHead .eciheadItem2 {
  flex: 1;
}
.eConItem .eciTabsCon .eciConItem .eciHead .eciheadItem3 {
  flex: none;
  width: 1.25rem;
}

.eConItem .eciTabsCon .eciConItem .eciHead .eciheadItem4,
.eConItem .eciTabsCon .eciConItem .eciHead .eciheadItem5{
  flex: none;
  width: 0.75rem;
}
.eConItem .eciTabsCon .eciConItem .eciBody {
  padding: 0 .12rem;
}
.eConItem .eciTabsCon .eciConItem .eciBody .courseList {
  width: 100%;
}
.eConItem .eciTabsCon .eciConItem .eciBody .courseList .cl_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: .01rem dashed #676767;
  padding: .12rem 0;
}
.eConItem .eciTabsCon .eciConItem .eciBody .courseList .cl_item .ecibodyItem {
  font-family: 'FZLTHJW';
  font-size: .16rem;
  color: #3a3a3a;
  text-align: center;
}
.eConItem .eciTabsCon .eciConItem .eciBody .courseList .cl_item .ecibodyItem .chkbx {
  display: inline-block;
  width: .22rem;
  height: .22rem;
  background: url(../images/xk.png) no-repeat;
  background-size: .17rem .17rem;
  vertical-align: middle;
}
.eConItem .eciTabsCon .eciConItem .eciBody .courseList .cl_item .ecibodyItem .chkbx_g {
  display: inline-block;
  width: .22rem;
  height: .22rem;
  background: url(../images/xk_g.png) no-repeat;
  background-size: 100% 100%;
}
.eConItem .eciTabsCon .eciConItem .eciBody .courseList .cl_item .ecibodyItem .cl_name {
  color: #3a3a3a;
  font-size:.16rem;
}
.eConItem .eciTabsCon .eciConItem .eciBody .courseList .cl_item .ecibodyItem .play {
  display: inline-block;
  width: .37rem;
  height: .37rem;
  background: url(../images/play.png) no-repeat;
  background-size: 100% 100%;
}
.eConItem .eciTabsCon .eciConItem .eciBody .courseList .cl_item .ecibodyItem .consult {
  display: inline-block;
  width: .46rem;
  height: .38rem;
  background: url(../images/consult.png) no-repeat;
  background-size: 100% 100%;
}
.eConItem .eciTabsCon .eciConItem .eciBody .courseList .cl_item .ecibodyItem1 {
  width:1rem;
  text-align: left;
}
.eConItem .eciTabsCon .eciConItem .eciBody .courseList .cl_item .ecibodyItem2 {
  flex: 3;
  padding: 0 .10rem;
}
.eConItem .eciTabsCon .eciConItem .eciBody .courseList .cl_item .ecibodyItem3 {
  flex: none;
  width: 1.05rem;
}

.eConItem .eciTabsCon .eciConItem .eciBody .courseList .cl_item .ecibodyItem4,
.eConItem .eciTabsCon .eciConItem .eciBody .courseList .cl_item .ecibodyItem5{
  flex: none;
  width: .75rem;
}
.eConItem .eciTabsCon .eciConItem .eciBody .courseList .cl_item .ecibodyItem3{
  color:#e42e04;
}
.eConItem .eciTabsCon .eciConItem .eciBody .courseList .cl_item .ecibodyItem3 i{
  margin-right: .10rem;
  text-decoration: line-through;
  font-size: .18rem;
  color:#ccc;
}
.eConItem .eciTabsCon .eciConItem .eciBody .courseList .cl_item:last-child {
  border: none;
}
.eConItem .eciTabsCon .eciConItem .eciBody .clhidden {
  display: none;
}
.ecitabsfoot {
  width: 100%;
  height: .98rem;
  background-size: 100% 100%;
  padding:.14rem .28rem;
}
.ecitabsfoot .eFoot_l {
  color: #f13206;
  font-family: 'FZLTCHJW';
  font-size: .26rem;

  display: none;
  color: #ff4000;
  height: .68rem;
  line-height: .68rem;
}
.ecitabsfoot .eFoot_l span {
  color: #111;
}
.ecitabsfoot .sprint {
  width: 1.72rem;
  height: .68rem;
  background: #ff9257;
  border-radius: .10rem;
  text-align: center;
  line-height: .68rem;
  font-size: .24rem;
  color: #ccc;
  font-family: 'FZLTCHJW';
  pointer-events: none;
}
.ecitabsfoot .spirit_opa {
  background: #e42e04;
  border-radius: .10rem;
  pointer-events: auto;
  color: #fff;
}